* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 82%;
  margin: 0 auto;
  flex-grow: 1;
}

footer {
  background-color: var(--color-gray-100);
  margin-top: 167px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin: 0 auto;
  padding: 23px 0;
}

.navigation {
  width: 300px;
}

li {
  list-style: none;
}

.navigation_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.navigation.mobile {
  display: none;
}

.navigation_list li:first-child {
  margin-right: 23px;
}
.navigation_list li:nth-child(2) {
  margin-right: 15px;
}
.navigation_list li:nth-child(3) {
  margin-right: 18px;
}

.navigation_list .logo_container {
  height: 21px;
}

.navigation_list li p {
  margin-top: 5px;
}

.navigation_list a {
  color: inherit;
  text-decoration: inherit;
}

.main_header form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 665px;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
}

.main_header .menu {
  display: none;
}

#search {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 5px 10px 10px;
}

.main_header form .search_input {
  width: 100%;
}

.main_header form .search_input img {
  display: none;
}

.category {
  width: 235px;
  height: 100%;
  cursor: pointer;
}

#selected_category {
  width: 100%;
  height: 100%;
  border: none;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: currentcolor;
  border-radius: none;
  border-left: 1px solid var(--color-primary);
  background: none;
  padding: 10px;
}

.search_button {
  width: 100px;
  padding: 11px 23px;
  border: none;
  border-radius: 0;
  text-transform: capitalize;
  background: var(--color-primary-gradient);
  color: var(--color-white);
  font-weight: 500;
  height: 100%;
  cursor: pointer;
}

.product_list_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: var(--color-text-main);
  line-height: 19.36px;
  padding: 20px;
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
  margin-bottom: 20px;
}

.product_list_header .filter_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_list_header .view_option {
  display: flex;
}

.main_header .main_header_left {
  display: flex;
  align-items: center;
}

.product_list_header .view_option button {
  background: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  list-style: none outside none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.product_list_header .view_option button:hover,
.product_list_header .view_option button.active {
  background-color: var(--color-gray-200);
}

.product_list_header .view_option button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.product_list_header .view_option button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#verified {
  width: 20px;
  height: 20px;
}

.product_list_header .select {
  width: 172px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  position: relative;
}

#selected_filter {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  color: var(--color-text-main);
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
  text-transform: capitalize;
  padding: 10px;
}

.product_list_header .filter_options label {
  margin: 0 13px;
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 16px;
  width: 100px;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.filters .filter_tag {
  padding: 6.5px 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  margin-right: 8px;
}

.filters .filter_tag:hover {
  background-color: var(--color-gray-200);
}

.filters .filter_tag img {
  margin-left: 13.17px;
  cursor: pointer;
}

.filters button {
  color: var(--color-primary);
  background: none;
  outline: inherit;
  border: none;
  font-size: 16px;
  list-style: none outside none;
  cursor: pointer;
  margin-left: 10px;
}

.filters button::first-letter {
  text-transform: uppercase;
}

.products_list {
  width: 925px;
  margin: 0 auto;
}

.products_list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.products_list.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.product_card {
  width: 295px;
  height: 405px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
}

.product_card.list {
  flex-direction: row;
  width: 100%;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product_card.list .product_left {
  display: flex;
}

.product_card.list .image_container {
  min-width: 261px;
}

.product_card.list .product_details {
  border: none;
}

.product_card.list .favourite {
  align-self: flex-start;
}

.product_card.list .product_name {
  font-weight: 500;
  padding: 0;
  margin-bottom: 16px;
}

.product_card.list .current_price {
  font-size: 20px;
  line-height: 28px;
}
.product_card.list .product_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product_card.list .old_price {
  font-weight: 600;
  margin: 5px 0 0 7px;
}

.product_card.list .circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  margin: 0 9px;
}

.product_card.list .product_review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product_card.list .rate .rate_score {
  margin-right: 3px;
}

.product_card.list .product_review .orders {
  font-size: 16px;
  color: var(--color-text-secondary);
  line-height: 19.36px;
}

.product_card.list .product_review .shipping {
  font-size: 16px;
  line-height: 19.36px;
  color: var(--color-green-600);
  text-transform: capitalize;
}

.product_card.list .product_description {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-500);
  margin-top: 12px;
}

.product_card.list a {
  color: var(--color-primary);
  text-decoration: inherit;
  margin-top: 8px;
}

.product_card.list a::first-letter {
  text-decoration: uppercase;
}

.product_card .current_price {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: var(--color-text-main);
}

.product_card .old_price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: var(--color-text-secondary);
  margin: 4px 0 0 8px;
  text-decoration: line-through;
}

.product_card .image_container {
  height: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
}

.product_card .rate_score {
  color: var(--color-orange-600);
  font-size: 16px;
  margin-left: 6px;
}

.product_card .image_container img {
  height: 88%;
}

.product_card .product_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px 0 20px;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gray-100);
}

.product_card .product_details .price {
  margin-bottom: 10px;
}

.product_card .product_name {
  margin-top: 10px;
  padding: 0 20px;
}

.product_card .favourite button {
  padding: 10px;
  background: none;
  border: 1px solid var(--color-gray-200);
  font-size: 16px;
  list-style: none outside none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px #38383814;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.pagination #display {
  padding: 10px;
  background: var(--color-white);
  border-radius: 6px;
  outline: inherit;
  border: 1px solid var(--color-gray-200);
  font-size: 16px;
  text-transform: capitalize;
}

.pagination .pagination_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 9px;
  height: 40px;
}

.pagination .pagination_nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 44px;
  border: 1px solid var(--color-gray-200);
  border-radius: none;
  background-color: var(--color-white);
  color: var(--color-text-main);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.pagination .pagination_nav button:hover,
.pagination .pagination_nav button.active {
  background-color: var(--color-gray-200);
  color: var(--color-text-secondary);
}

.pagination .pagination_nav button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pagination .pagination_nav button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer_top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 39px 0;
}
.footer_top .form {
  display: flex;
  margin-top: 21px;
}

.footer_top h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text-main);
}

.footer_top h4::first-letter,
.footer_top p::first-letter {
  text-transform: uppercase;
}

.footer_top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-500);
}

.footer_top .input_field {
  position: relative;
  width: 274px;
}

.footer_top .input_field img {
  position: absolute;
  top: 50%;
  left: 9.83px;
  transform: translateY(-50%);
}

.footer_top .form button {
  padding: 10.5px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  border: none;
  border-radius: 6px;
  background: var(--color-primary-gradient);
  margin-left: 8px;
  outline: inherit;
  cursor: pointer;
}

.footer_top input {
  width: 100%;
  padding: 11px 0 10px 36px;
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
}

.footer_top input::placeholder {
  color: var(--color-text-secondary);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}

.footer_bottom .language {
  position: relative;
  cursor: pointer;
}

.footer_bottom .language .language_list {
  position: absolute;
  left: 0;
  top: -200%;
  display: none;
}

.footer_bottom .language:hover .language_list {
  display: block;
}

.footer_bottom .language .selected_language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bottom .language .selected_language span {
  margin-left: 6px;
}

.footer_bottom .language .selected_language span::first-letter,
.footer_bottom .language li span::first-letter {
  text-transform: uppercase;
}

.footer_bottom .language li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_bottom .language li:hover {
  background-color: #0067ff;
  color: var(--color-white);
  font-weight: 500;
}

.footer_bottom .language li img {
  width: 24px;
  margin-right: 6px;
}

.footer_container {
  width: 82%;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .main_header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 16px;
    cursor: pointer;
  }

  .main_header .main_header_top .navigation_list li:nth-child(2) {
    margin-right: 0;
  }

  .main_header .main_header_top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .menu .navigation_list_mobile {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--color-white);
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--color-text-secondary);
    display: none;
  }

  .menu:hover .navigation_list_mobile {
    display: block;
    z-index: 6;
  }

  .menu .navigation_list_mobile li {
    padding: 10px;
    border: 1px solid var(--color-gray-100);
    font-size: 16px;
  }

  .menu .navigation_list_mobile li:hover {
    background-color: #0067ff;
  }

  .menu .navigation_list_mobile li a span::first-letter {
    text-transform: uppercase;
  }

  .menu .navigation_list_mobile li:hover a span {
    font-weight: 500;
    color: var(--color-white);
  }

  .menu .navigation_list_mobile li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-main);
  }

  .menu .navigation_list_mobile li a .logo_container {
    display: flex;
    align-items: center;
    margin-right: 6px;
  }

  .navigation:last-child {
    display: none;
  }

  .navigation.mobile {
    display: flex;
    justify-content: flex-end;
  }

  .navigation .navigation_list {
    display: flex;
    justify-content: flex-end;
  }

  .main_header {
    flex-wrap: wrap;
  }

  .main_header .search_button,
  .category {
    display: none;
  }

  .main_header form {
    width: 100%;
    border: none;
  }

  #search {
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    padding-left: 36px;
    background-color: #f7fafc;
    color: var(--color-text-main);
  }

  #search:focus {
    outline: inherit;
  }

  #search::placeholder {
    color: var(--color-text-secondary);
  }

  .main_header form .search_input {
    position: relative;
  }

  .main_header form .search_input img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    z-index: 5;
  }

  main .product_list_header p,
  main .product_list_header .filter_options label,
  #verified {
    display: none;
  }
  .product_card.list {
    padding: 8px;
  }

  .product_list_header .filter_options {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .product_card.list .image_container {
    min-width: 125px;
    height: 85px;
    margin-right: 8px;
  }

  .product_card.list .image_container img {
    height: 100%;
  }

  .rate svg {
    display: block;
  }

  .rate {
    display: flex;
    align-items: center;
  }

  .rate .rate_score {
    font-size: 13px;
    margin: 0 8px;
  }

  .product_card.list .product_review .circle {
    margin: 0 10px 0 5px;
  }

  .product_card.list .product_review .orders {
    font-size: 13px;
  }

  .product_card.list .product_review .circle.second {
    display: none;
  }

  .product_card.list .product_review {
    flex-wrap: wrap;
  }

  .product_card.list .product_review .shipping {
    width: 100%;
    margin-top: 6px;
    font-size: 13px;
  }

  .product_card.list .favourite {
    display: none;
  }

  .product_card.list .product_description,
  .product_card.list .product_details a {
    display: none;
  }

  .product_card.list .product_left {
    width: 100%;
    align-items: center;
  }

  .product_card.list .product_details {
    padding: 0;
  }

  .product_card.list .product_details .product_name {
    margin: 0;
    font-size: 16px;
    color: var(--color-gray-400);
    font-weight: 400;
  }

  .product_card.list .product_details .price .current_price {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
  }

  .product_card.list .product_details .price {
    margin-bottom: 7px;
  }

  .product_card.list .product_details .price .old_price {
    font-size: 14px;
  }

  .products_list {
    width: auto;
  }

  .products_list.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product_card {
    width: 100%;
  }

  .pagination {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .products_list.grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_container .footer_top .form {
    display: flex;
    flex-wrap: wrap;
  }

  .footer_container .footer_top .form .input_field {
    width: 100%;
  }

  .footer_container .footer_top .form button {
    margin: 5px auto 0 auto;
  }
}
